<style>
    body {
  /* margin: 2em auto;
  max-width: 600px; */
}

form div {
    margin-bottom: 0.5em;
}
form div label, form div input {
    display: block;
    margin-bottom: 0.3em;
}

/* button */
.button2 {background-color: #008CBA;} /* Blue */

/* button info */


</style>
<body>


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
        <h3>Bluewhirl</h3>
        </div>
        <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a href="#">Home 1</a></li>
            <li><a href="#">Home 2</a></li>
            <li><a href="#">Home 3</a></li>
            <li>
                <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="true">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu1">
                    <li><a href="#">Home 1</a></li>
                </ul>
            </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        </ul>
    
        <ul class="list-unstyled CTAs">
    
        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to the article</a></li>
        </ul>
    
        <ul id="id-menu" class="list-unstyled components">
            <li>        
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Rohit</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </li>
            </ul>
        </ul>
    </nav>
    
    <!-- Page Content Holder -->
    <!-- <div id="content">
    
        <nav class="navbar navbar-default">
        <div class="container-fluid">
    
            <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
            </div>
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
            </ul>
            </div>
        </div>
        </nav>
    
        <h2>Collapsible Sidebar Using Bootstrap 3</h2>
    
        <p class="lead">This pen is a part of a <a href="https://bootstrapious.com/p/bootstrap-sidebar">Bootstrap sidebar tutorial</a> from Bootstrapious.com. CC-BY licensed.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        <div class="line"></div>
    
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        <div class="line"></div>
    
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        <div class="line"></div>
        <div id="about"> head</div>
        <h3>Lorem Ipsum Dolor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> -->
   

         <!-- New my added -->

    <div id="content">
    
        <div id="app-container"></div>
    <!--  -->
    <form id="test" action="#" method="post">
        <div class="form-group">
            <label for="name">Enter your question here</label>
            <input class="form-control" type="text" name="name" id="name" />
            <input type="submit" value="submit" class="btn btn-primary btn-block" />
        </div>
        <div class="form-group">
            <!-- <label for="check">Select options</label>
            <input type="checkbox" name="check" value="yes" /> -->
        </div>
        <div class="form-group">
            <!-- <label for="select">Select your favorite JavaScript framework</label>
            <select name="select" class="form-control">
                <option value="none" selected="selected">None</option>
                <option value="jquery">jQuery</option>
                <option value="angularjs">Angular</option>
                <option value="mine">Mine, of course!</option>
            </select> -->
            <div class="container">
                <input type="number" id="myNumber" value=" ">
                <button onclick="myFunction()">Add</button>
              </div><!--.container-->
              
              
        </div>

        <div class="form-group">
            <label for="message">Select number of options</label>
            <select id="select_box">
                <option>select a option</option>
                <option value="a">1</option>
                <option value="b">2</option>
                <option value="c">3</option>
                <option value="d">4</option>
               
              </select>
            
              <div id="a" class="hide">
                <button class="button button2">Prepaid</button>
                <div class="w3-container">
                    
                    <div class="w3-bar w3-black">
                      <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'London')">London</button>
                      <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Paris')">Paris</button>
                      <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Tokyo')">Tokyo</button>
                    </div>
                    
                    <div id="London" class="w3-container w3-border city">
                      <h2>London</h2>
                      <p>London is the capital city of England.</p>
                    </div>
                  
                    <div id="Paris" class="w3-container w3-border city" style="display:none">
                      <h2>Paris</h2>
                      <p>Paris is the capital of France.</p> 
                    </div>
                  
                    <div id="Tokyo" class="w3-container w3-border city" style="display:none">
                      <h2>Tokyo</h2>
                      <p>Tokyo is the capital of Japan.</p>
                    </div>
                  </div>
              </div>
              <div id="b" class="hide">
                <button class="button button2">Prepaid</button>
                <button class="button button2">Postpaid</button>
              </div>
              <div id="c" class="hide">
                <button class="button button2">Prepaid</button>
                <button class="button button2">Postpaid</button>
                <button class="button button2"> International roaming</button>
              </div>
              <div id="d" class="hide">
                <button class="button button2">Prepaid</button>
                <button class="button button2">Postpaid</button>
                <button class="button button2"> International roaming</button>
                <button class="button button2">Callertune</button>
              </div>

        </div>


        <div class="form-group">
            <label for="message">Leave a message</label>
            <textarea class="form-control" name="message" rows="15" cols="30"></textarea>
        </div>
     
       
        <p>
            <input type="submit" value="Send" class="btn btn-primary btn-block" />
        </p>
    </form>	
    <pre id="output"></pre>
    
    </div>

</div>

    <script > 
   (function() {
	function toJSONString( form ) {
		var obj = {};
		var elements = form.querySelectorAll( "input, select, textarea" );
		for( var i = 0; i < elements.length; ++i ) {
			var element = elements[i];
			var name = element.name;
			var value = element.value;

			if( name ) {
				obj[ name ] = value;
			}
		}

		return JSON.stringify( obj );
	}

	document.addEventListener( "DOMContentLoaded", function() {
		var form = document.getElementById( "test" );
		var output = document.getElementById( "output" );
		form.addEventListener( "submit", function( e ) {
			e.preventDefault();
			var json = toJSONString( this );
			output.innerHTML = json;

		}, false);

	});

})();

// multiple option
 
$('#select_box').change(function () {
var select=$(this).find(':selected').val();        
 $(".hide").hide();
 $('#' + select).show();

	    }).change();


        // button informaton
        function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
  
    </script>


</body>













    




